name: VPC Setup

on:
  workflow_dispatch:
    inputs:
      vpc_name:
        description: "Name of the VPC"
        required: true
        type: string
        default: "karim-tf-vpc"

      vpc_cidr:
        description: "VPC CIDR block"
        required: true
        default: "10.0.0.0/16"
        type: string

      enable_nat:
        description: "Enable NAT Gateway (true/false)"
        required: true
        default: false
        type: boolean

jobs:
  terraform:
    name: Deploy VPC Infrastructure
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: vpc-setup

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan & Apply
        env:
          TF_VAR_vpc_name: ${{ inputs.vpc_name }}
          TF_VAR_vpc_cidr: ${{ inputs.vpc_cidr }}
          TF_VAR_enable_nat: ${{ inputs.enable_nat }}

          # Map variables (hardcoded template style)
          TF_VAR_public_subnets: >
            {
              "us-east-1a": "10.0.1.0/24"
            }

          TF_VAR_private_subnets: >
            {}

          TF_VAR_default_tags: >
            {
             "Environment" : "dev"
             "Owner"       : "karim"
            }

        run: |
          echo "Deploying VPC: $TF_VAR_vpc_name"
          terraform apply -auto-approve
